* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 200vh;
  display: block;
}

/* navbar */

.navbar {
  height: 100px;
  border-bottom: 2px solid black;
}

.link1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -58px;
  left: -530px;
}

.link2 {
  list-style: none;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -58px;
}

.link1 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 20px;
  font-size: 20px;
  position: relative;
  left: 47%;
}

.link1 a:hover {
  color: rgba(0, 0, 0, 0.408);
  transition: 3ms;
}
.link2 a:hover {
  color: rgba(0, 0, 0, 0.408);
  transition: 3ms;
}

.link2 a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  line-height: 50px;
  padding: 20px;
  font-size: 20px;
  position: relative;
  right: 50%;
}

/* serach */

.search {
  width: 700px;
  height: 48px;
  padding: 10px;
  position: relative;
  top: -150px;
  left: 200px;
  border-radius: 10px;
  border-width: 3px;
  border-color: silver;
  font-size: 20px;
  color: black;
}

.dataResult {
  width: 700px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  top: -184px;
  left: 200px;
  border-radius: 20px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  align-items: center;
  color: black;
  text-decoration: none;
}

.dataItem p{
  margin-left: 30px;
  margin-top: 10px;
}

.serachIcon{
  font-size: 26px;
  color: gray;
  position:relative;
  top:-200px;
  left:850px;
}

.select-food{
  position: relative;
  left: 300px;
}

.food-cat {
  width: 140px;
  height: 140px;
  border: 3px solid black;
  border-radius: 5px;
  padding: 17px;
}

.button {
  border: none;
  background-color: white;
  padding: 3%;
  cursor: pointer;
}

.button:hover{
  box-shadow: 3px 3px 3px 5px grey;
}

.logo {
  width: 220px;
  height: 220px;
  position: relative;
  top: -70px;
}

.section-2 {
  width: 70%;
  height: 50%;
  border: 3px solid black;
}

.heading1 {
  position: relative;
  left: 600px;
  font-size: 50px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.heading2 {
  font-size: 50px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  left: 600px;
}

/* spices */

.box {
  margin-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 5px));
  grid-gap: 70px;
  justify-content: space-evenly;
  position: relative;
  left: 30px;
  margin-bottom: 50px;
}

.spice-img {
  width: 300px;
  height: 280px;
}

.spice-name {
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.box1{
  cursor: pointer;
}

.box1:hover{
  transform: scale(1.1);
  transition: 4ms;
  box-shadow: 2px 2px 3px 2px grey;
}

/* veg-recipes */

.name {
  font-size: 40px;
  font-weight: 600;
  background-color: rgb(45, 45, 44, 0.6);
  color: white;
  position: relative;
  padding: 10px;
  top: -300px;
  width: 500px;
  text-align: center;
}

.to-recipe {
  position: relative;
  top: -230px;
  left: 380px;
  font-size: 20px;
  color: white;
  background-color: rgba(78, 56, 56, 0.308);
  cursor: pointer;
  padding: 10px;
}

.image {
  height: 70vh;
  width: 500px;
  opacity: 0.9;
}
.sub-recipes:hover{
  box-shadow: 100px 100px 100px 120px #F7E9D7 inset;
}
.image:hover{
  box-shadow: 0px 0px 2px 6px gray;
}

.sub-recipes {
  height: 85vh;
  margin: 2%;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #FFF6EA;
}

.sub-recipes2{
  height: 110vh;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #FFEDDB;
  margin: 2%;
}

.sub-recipes2:hover{
  box-shadow: 100px 100px 100px 100px #E3B7A0 inset;
}

.ingre h2,
.making h2 {
  font-size: 20px;
  padding: 10px;
}

.making {
  width: 510px;
  position: relative;
  border-left: 1px solid grey;
  padding: 9px;
  left: -22px;
  top: -33px;
}

.ingre {
  border-left: 1px solid grey;
  height: 60vh;
  position: relative;
  top: -30px;
}

.comb {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 3px));
  grid-gap: 100px;
  position: relative;
  top: -600px;
  left: 560px;
}

.extra-info img {
  width: 40px;
  height: 40px;
}

.extra-info {
  border: 2px solid grey;
  width: 300px;
  padding: 10px;
  position: relative;
  top: -700px;
}

.serving{
  width: 330px;
  position: relative;
  top: -60px;
  margin-left: 10px;
}

.serving img{
  width: 40px;
  height: 40px;
}

.serving span{
  padding: 10px;
}

/* snacks */

.ingre2 h2, .making2 h2{
  font-size: 20px;
  padding: 10px;
}

.ingre2{
  border-left: 1px solid grey;
  height: 50vh;
  position: relative;
  top: -20px;
}

.making2{
  width: 500px;
  position: relative;
  border-left: 1px solid grey;
  padding: 9px;
  left: -30px;
  top: -25px;
}

/* footer */

.main-footer {
  border: 2px solid black;
  margin: 2%;
  height: 470px;
}

.f1 {
  border-bottom: 1px solid grey;
  height: 100px;
}

.footer-image {
  width: 200px;
  height: 200px;
  position: relative;
  top: -40px;
}

.return {
  text-decoration: none;
  color: black;
  position: relative;
  top: -20px;
  left: 990px;
  padding: 10px;
  cursor: pointer;
}

.about {
  padding: 20px;
  font-size: 20px;
  line-height: 60px;
}

.f2 p {
  font-size: 15px;
  position: relative;
  top: -50px;
  left: 120px;
  padding: 10px;
  border-left: 1px solid grey;
  height: 50px;
}

.contact {
  font-size: 20px;
  padding: 20px;
}

.f3 a {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-size: 17px;
  border-left: 1px solid grey;
  position: relative;
  left: 13px;
  height: 50px;
}

.phone {
  font-size: 17px;
  position: relative;
  left: 600px;
}

.sub {
  font-size: 20px;
  padding: 20px;
  position: relative;
  top: 80px;
}

.sites {
  position: relative;
  top: 30px;
  left: 123px;
  border-left: 1px solid grey;
  height: 60px;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
}

.f5 p {
  position: relative;
  top: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;
}

.f5 span {
  color: purple;
  cursor: pointer;
}

/* carousel */

.c-image {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  object-fit: cover;
}

.carousel {
  margin: 2%;
}

.carousel-heading {
  font-size: 60px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.368);
}

/* all-recipe */

.first-image{
  display: flex;
  flex-direction: column;
  margin: 3%;
}
.grid-image{
  width: 150px;
  height: 200px;
  border-radius: 8px;
  margin: 1%;
}

.grid-image:hover {
  box-shadow: 0 0 3px 2px goldenrod
}

.second-image{
  display: flex;
  flex-direction: column;
  float: right;
  position: relative;
  top: -730px;
  margin: 3%;
}

.grid2-image{
  height: 300px;
  width: 250px;
  margin: 2%;
  border-radius: 8px;
}

.grid2-image:hover {
  box-shadow: 0 0 3px 2px goldenrod
}

.carousel2{
  position: relative;
  top: -1420px;
}

.c2-image{
  width: 65%;
  height: 600px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: 20%;
}

.carousel2-heading {
  font-size: 60px;
}

.all-container h1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  position: relative;
  top: -1440px;
  left: 250px;
  font-size: 70px;
}

.allrecipe-container{
  position: relative;
  top:-1400px;
}

/* blog */

.blog{
  position: relative;
  top: -50px;
}
.margin{
  margin: 5% 0;
}

.parallax{
  background-image: url("https://media.istockphoto.com/photos/table-top-view-of-spicy-food-picture-id1316145932?b=1&k=20&m=1316145932&s=170667a&w=0&h=feyrNSTglzksHoEDSsnrG47UoY_XX4PtayUPpSMunQI=");
  height: 140vh;
  width: 100%;
  flex-direction: column;
  background-size: cover;
  background: no-repeat scroll center scroll;
  background-attachment: fixed;  
}

.inner{
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
}

.inner h1{
  padding: 10px;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.inner2{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 3%;
}

.inner2 span, .inner2 h2{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
}

.inner2 span{
  font-size: 26px;
}

.inner2 h2{
  font-size: 40px;
}

.inner2 p{
  padding-left: 20px;
  font-size: 17px;
  color: rgb(192, 192, 192);
  line-height: 30px;
}

.inner2 h4{
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  font-size: 20px;
  color: lightgoldenrodyellow;
}

/* login */

.container{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 20px;
}

.container .forms{
  display: flex;
  align-items: center;
  height: 440px;
  width: 200%;
  transition: height 0.2s ease;
}


.container .form{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}

.container.active .login{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup{
  opacity: 1;
  transition: opacity 0.2s ease;
}

.container.active .forms{
  height: 600px;
}
.container .form .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}

.form .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
  border-bottom-color: #4070f4;
}

.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
  color: #4070f4;
}

.input-field i.icon{
  left: 0;
}
.input-field i.showHidePw{
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}

.form .text{
  color: #333;
  font-size: 14px;
}

.form a.text{
  color: #4070f4;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.form .button{
  margin-top: 35px;
}

.form .button input{
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover{
  background-color: #265df2;
}

.form .login-signup{
  margin-top: 30px;
  text-align: center;
}

/* responsive */