* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 200vh;
    display: block;
}

.navbar{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
}

.link1{
    float: left;
    list-style: none;
    display: flex;
    flex-direction: row;
  }

  .link2{
      float: right;
      list-style: none;
      display: flex;
      flex-direction: row;
  }

  .link1 li{
      line-height: 50px;
      padding: 20px;
      font-size: 20px;
      position: relative;
      left: 47%;
  }

  .link2 li{
      line-height: 50px;
      padding: 20px;
      font-size: 20px;
      position: relative;
      right: 50%;
  }

  .search{
      width: 700px;
      height: 48px;
      padding: 10px;
      position: relative;
      top: -150px;
      left: 200px;
      border-radius: 10px;
      border-width: 3px;
      border-color: silver;
      font-size: 20px;
      color: black;
  }

  /* .searchicon{
      color: black;
      position: relative;
      top: -100px;
      left: 190px;
  } */

  .food-cat{
      width: 140px;
      height: 140px;
      margin: 4%;
      position: relative;
      left: 280px;
      border: 3px solid black;
      border-radius: 5px;
      padding: 17px;
  }

  .button{
      border: none;
      background-color: white;
      padding: 3%;
      cursor: pointer;
  }

  .logo{
      width: 220px;
      height: 220px;
      position: relative;
      top: -62px;
      left: -430px;
  }

  .section-2{
      width: 70%;
      height: 50%;
      border: 3px solid black;
  }

  .top-recipes{
      margin-top: 5%;
  }

  .recipe1{
      width: 70%;
      height: 360px;
      border: 2px solid black;
      margin-top: 2%;
      position: relative;
      left: 240px;
      margin-bottom: 20px;
  }

  .heading1{
      position: relative;
      left: 600px;
      font-size: 40px;
      font-weight: 600;
  }

  .recipe-image{
      width: 330px;
      height: 355px;
      border-radius: 2px;
  }

  .details{
      border: 2px solid black;
      width: 40%;
      height: 80px;
      position: relative;
      left: 250px;
      margin-bottom: 8%;
  }

  .icon1, .icon2, .icon3{
      width: 40px;
      height: 40px;
      margin: 2%;
  }

  .time-icon{
      display: inline;
      margin: 4%;
  }

  .recipe-number{
      font-size: 30px;
      font-family: 'Times New Roman', Times, serif;
      padding: 20px;
      line-height: 20px;
      position: relative;
      top: -320px;
  }

  .recipe-name{
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      position: relative;
      top:-300px;
      line-height: 20px;
  }

  .recipe-desc{
      font-size: 20px;
      line-height: 40px;
      font-family: Arial, Helvetica, sans-serif;
      position: relative;
      top: -270px;
      left: 380px;
  }

  .recipe-time,.recipe-calories,.recipe-serve{
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif;
      position: relative;
      top: -30px;
  }

  .heading2{
      font-size: 50px;
      font-weight: 600;
      font-family: 'Times New Roman', Times, serif;
      position: relative;
      left: 600px;
  }

  .box{

    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat(3, minmax(350px,5px));
    grid-gap: 70px;
    justify-content:space-evenly;
    position: relative;
    left: 30px;
  }

  .spice-img{
      width: 300px;
      height: 280px;
  }

  .spice-name{
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif;
  }

  .to-recipe{
      position: relative;
      top: -180px;
      left: 380px;
      font-size: 20px;
      color: white;
      background-color: rgba(78, 56, 56, 0.308);
      cursor: pointer;
      padding: 10px;
  }
  